{% extends 'base.html' %} 
{% load static %}

{% block title %}Forgot Password{% endblock title %}
{% block content %}

<div class="container">
  <div class="login-form">
    <h2>Forgot Password</h2>

    {% if error_message %}
        <div id="error_message" class="text-warning mb-2">{{ error_message }}</div>
        <script>
            setTimeout(function() {
                document.getElementById('error_message').style.display = 'none';
            }, 5000);
        </script>
    {% endif %}

    {% if success_message %}
        <div id="success_message" class="text-success mx-3 mb-1">{{ success_message }}</div>
        <script>
            setTimeout(function() {
                document.getElementById('success_message').style.display = 'none';
            }, 5000);
        </script>
    {% endif %}

    <form action="{% url 'user_reset_password' %}" method="POST">
      {% csrf_token %}
      <input type="email" class="form-control" placeholder="Email Address" name="email" required />
      <div class="password-container">
        <input type="password" class="form-control password-field" placeholder="Enter New Password" name="password" id="password-field1" required/>
        <i class="fa fa-eye-slash toggle-password" id="toggle-password1"></i>
      </div>
      <div class="password-container">
        <input type="password" class="form-control password-field" placeholder="Confirm New Password" name="confirm_password" id="password-field2" required/>
        <i class="fa fa-eye-slash toggle-password" id="toggle-password2"></i>
      </div>
      <button type="submit" class="btn btn-danger mb-3">Reset Password</button>
    </form>
    <a class="text-center text-danger mx-5 text-decoration-none Signuptag" href="{% url 'login_page' %}">already have an account?</a>
  </div>
</div>

<script>
  $(document).ready(function(){
    $("#toggle-password1").click(function(){
        var passwordField = $("#password-field1");
        var type = passwordField.attr("type");
        if(type === "password"){
            passwordField.attr("type", "text");
            $("#toggle-password1").removeClass("fa-eye-slash").addClass("fa-eye");
        } else {
            passwordField.attr("type", "password");
            $("#toggle-password1").removeClass("fa-eye").addClass("fa-eye-slash");
        }
    });

    $("#toggle-password2").click(function(){
      var passwordField = $("#password-field2");
      var type = passwordField.attr("type");
      if(type === "password"){
          passwordField.attr("type", "text");
          $("#toggle-password2").removeClass("fa-eye-slash").addClass("fa-eye");
      } else {
          passwordField.attr("type", "password");
          $("#toggle-password2").removeClass("fa-eye").addClass("fa-eye-slash");
      }
  });
});

</script>
{% endblock content %}
